<div style="background: #eeeeee; color: #555; text-align: center;">

  <p style="font-weight: 600; padding: 20px 0;">Ironhack-Lab-Nodemailer</p>
  
  <table align="center" style="background: #fff; border-radius: 5px; padding: 0 50px 30px;">
    <tr>
      <td><img src="https://s3.amazonaws.com/bloc-global-assets/almanac-assets/bootcamps/logos/000/002/680/original/IronHack.png?1467187336" alt="Ironhack" height="200" width="200" style="display: block; margin: 0 auto;"></td>
    </tr>
    <tr>
      <td>
        <h1>Ironhack Confirmation Email</h1>
        <h2>Hello, {{username}}</h2>
        <p>Thanks to join our community! Please confirm your account clicking on the following link:</p>
      </td>
    </tr>
    <tr><td><a href="http://localhost:3000/auth/confirm?code={{hashName}}" style="display: inline-block; background: #337ab7; border: 1px solid #2e6da4; border-radius: 5px; color: #fff; padding: 10px 25px; text-decoration: none;">Verify my email</a></td></tr>
    <tr>
      <td><h3>Great to see you creating awesome webpages with us! 😎</h3></td>
    </tr>
  </table>

  <p style="padding: 20px 0;">You are doing awesome! ️<span style="color: #3fb5e0; font-size: 2em; transform: translate(0,12px);">❤</span></p>

</div>