<html>
<head>
<title>mailing</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (mailing.jpg) -->
<table id="Table_01" width="700" height="1154" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td colspan="7">
			<img src="https://imageshack.com/a/img923/8581/bi1R3E.jpg" width="700" height="133" alt=""></td>
	</tr>
	<tr>
		<td colspan="7">
			<img src="https://imageshack.com/a/img922/9153/4A0acV.jpg" width="700" height="285" alt=""></td>
	</tr>
	<tr>
		<td colspan="7">
			<img src="https://imageshack.com/a/img922/9213/zr7FnE.jpg" width="700" height="105" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="https://imageshack.com/a/img922/558/lvV5tR.jpg" width="168" height="167" alt=""></td>
		<td colspan="3">
			<img src="https://imageshack.com/a/img922/8779/JxnQhU.jpg" width="181" height="167" alt=""></td>
		<td colspan="2">
			<img src="https://imageshack.com/a/img923/8066/0XxHqi.jpg" width="153" height="167" alt=""></td>
		<td>
			<img src="https://imageshack.com/a/img923/1228/spW20G.jpg" width="198" height="167" alt=""></td>
	</tr>
	<tr>
		<td colspan="7">
			<img src="https://imageshack.com/a/img924/9896/J5enAh.jpg" width="700" height="358" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="https://imageshack.com/a/img922/4188/75LVMD.jpg" width="274" height="105" alt=""></td>
		<td>
			<img src="https://imageshack.com/a/img924/8269/qfFikb.jpg" width="56" height="105" alt=""></td>
		<td colspan="2">
			<img src="https://imageshack.com/a/img922/7140/xwfGkg.jpg" width="61" height="105" alt=""></td>
		<td colspan="2">
			<img src="https://imageshack.com/a/img922/6461/oIYXFC.jpg" width="309" height="105" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="https://imageshack.com/a/img923/6452/UGsLs3.gif" width="168" height="1" alt=""></td>
		<td>
			<img src="https://imageshack.com/a/img923/6452/UGsLs3.gif" width="106" height="1" alt=""></td>
		<td>
			<img src="https://imageshack.com/a/img923/6452/UGsLs3.gif" width="56" height="1" alt=""></td>
		<td>
			<img src="https://imageshack.com/a/img923/6452/UGsLs3.gif" width="19" height="1" alt=""></td>
		<td>
			<img src="https://imageshack.com/a/img923/6452/UGsLs3.gif" width="42" height="1" alt=""></td>
		<td>
			<img src="https://imageshack.com/a/img923/6452/UGsLs3.gif" width="111" height="1" alt=""></td>
		<td>
			<img src="https://imageshack.com/a/img923/6452/UGsLs3.gif" width="198" height="1" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>